.gridCells {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid red;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; 
    margin: 2px;
}

.gridRows {
    padding: 4px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
